.cta-section {
    min-height: 50vh;
    width: 100%; /* Changed from min-width to width for clarity */
}

.cta {
    margin: 0 40px;
}

.join-btn {
    background: rgba(255, 255, 255, 0.307);
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 36px;
    text-decoration: none;
    color: #ffffff;
}

.join-btn:hover {
    background: linear-gradient(#410157, #3a0247);
}

.btn-div {
    margin-top: 40px;
}

/* Media query for smartphones */
@media (max-width: 576px) {
    .cta-section {
        padding: 80px 5px 30px 5px; /* Adjusted padding for smaller screens */
    }

    .cta {
        margin: 0 10px; /* Reduced margin for smaller screens */
    }

    .btn-div {
        display: flex;
        align-items: center;
        justify-content: center; /* Center buttons on small screens */
    }
}
