.badg {
  background-color: rgba(0, 0, 0, 0.289);
  backdrop-filter: blur(10px);
  padding-right: 8px;
  padding-left: 8px;
  padding-top:5px ;
  padding-bottom:5px ;
  border-radius: 30px;
  font-size: small;
  text-align: center;
  display: inline-flex; 
  line-height: center;
  margin-bottom: -10px;/* Ensure the badge fits its content */
}

.new {
  background-color: rgb(216, 35, 216);
  color: #000000;
  border-radius: 30px;
  padding: 4px;
  font-weight: bolder;
  margin-right: 10px;
  font-size: x-small;
  text-align: center;
}

h4 {
  font-family: monospace;
  font-weight: bolder;
  font-style: italic;
  font-size: inherit;
  text-shadow: 1px 1px 10px white;
}

.hero-h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: rgba(233, 229, 250, 0.9);
  text-align: center;
  margin-top: 20px;
}

.aws-border {
  font-weight: 800;
  background: linear-gradient(90deg, #000000, rgba(207, 95, 150, 1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero {
  margin-top: 3rem;
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/img/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin-top: 20px;
  background: linear-gradient(#F1F3F3, #b95287);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-h1 {
  font-weight: 800;
  font-size: 3rem;
  background: linear-gradient(-50deg, #d06ea0, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin: 20px 0;
}

.hero-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-content {
  text-align: center;
}

.clouds-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cloud-left {
  position: absolute;
  top: 50px;
  right: -300px;
  height: 700px;
}

.cloud-right {
  position: absolute;
  left: -300px;
  top: 100px;
  height: 600px;
}

.hero-btn {
  margin-top: 80px;
  background: linear-gradient(90deg, #3a0247, #410157);
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  z-index: 99;
}

.hero-btn:hover {
  background: linear-gradient(#410157, #3a0247);
}

.hero-img-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-img {
  width: 300px;
  height: auto;
}

/* Media query for smartphones */
@media (max-width: 576px) {
  h1 {
    font-size: 34px;
  }

  .cloud-left {
    left: 0;
  }

  .cloud-right {
    width: 700px;
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .hero {
    padding: 25px 10px;
  }

  .hero-img {
    width: 200px;
  }

  .hero-btn {
    display: none;
  }
}

/* Media query for tablets */
@media (max-width: 768px) and (min-width: 576px) {
  h1 {
    font-size: 48px;
  }

  .hero {
    padding: 25px 10px;
  }

  .hero-img {
    width: 200px;
  }

  .hero-btn {
    display: none;
  }
}

/* Responsive adjustment for .hero-h1 */
@media (max-width: 576px) {
  .hero-h1 {
    margin-top: -40%;
    font-size: 3rem;
  }
}
