.join-now {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: #b95287; /* Background color */
    color: #FFFFFF; /* Text color */
    border: none;
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth animation */
}

.join-now:hover {
    transform: scale(1.05); /* Scale up on hover */
}

@media screen and (max-width: 1040px) {
    .join-now {
        display: none; /* Hide on mobile */
    }
}


.navbar {
    font-family: "Montserrat", sans-serif; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(21, 13, 34, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: rgba(21, 13, 34, 0.9);
}

.logo {
    height: 50px;
    margin-left: 40px;
}

.navbar-menu-container {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.navbar-menu {
    list-style-type: none;
    background-color: rgba(21, 13, 34, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.494);
    border-radius: 20px;
    margin: 3.5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 50px;
    gap: 45px;
    position: relative;
    overflow: hidden;
}

.navbar-menu::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 24px;
    background: linear-gradient(45deg, rgba(255, 0, 247, 0.415), rgba(104, 13, 123, 0.467), rgba(0, 0, 255, 0.6), purple, white);
    background-size: 400%;
    z-index: -1;
    animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    25% { background-position: 100% 50%; }
    50% { background-position: 0% 50%; }
    75% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.navbar-menu li {
    font-size: 1.1rem;
    position: relative;
}

.navbar-menu li a {
    text-decoration: none;
    color: #F1F3F3;
    position: relative;
    transition: font-weight 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.navbar-menu li a:hover {
    color: #b95287; /* Change color on hover */
}

.active-link {
    font-weight: 700; /* Make the active link bold */
    color: #FFFFFF; /* Change the color for the active link */
}

.hamburger {
    display: none;
    z-index: 999;
}

@media screen and (max-width: 1040px) {
    .navbar-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: -100%;
        transition: left 0.3s;
        text-align: center;
        margin: 0;
        padding: 0;
        border: 0px;
        border-radius: none;
    }

    .navbar-menu.active {
        left: 0;
    }

    .navbar-menu li a {
        font-size: 2rem;
    }

    .hamburger {
        display: block;
        padding-right: 1rem;
        font-size: 20px; /* Increased font size for better visibility */
        color: #F1F3F3;
    }
}
