@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

body, #root {
  margin: 0; /* Remove default margin */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: "Montserrat", sans-serif; /* Apply Montserrat font */
  background: linear-gradient(45deg, #000000 16%, #23162f 30%, #21162c 84%, black); 
  /* Uncomment the line below to use a custom cursor */
  /* cursor: url('.././src/assets/img/cr.jpg'), auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; /* Monospace font for code */
}
