.intro-section {
    min-height: 60vh;
    padding: 80px 20px 3.5rem 60px;
    width: 100%;
}

.logo-image {
    width: 450px;
    height: auto;
}

@media (max-width: 576px) {
    .intro-section {
        padding: 5px 15px 0 15px; /* Adjusted padding for smaller screens */
    }

    .logo-image {
        width: 300px;
        margin: 25px 0 3.5rem; /* Combined margin settings */
        height: auto;
    }
}
